@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Courgette&family=Kumbh+Sans:wght@100;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Macondo+Swash+Caps&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Archivo Black', sans-serif; */
    /* font-family: 'Righteous', cursive; */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}

h1 {
    font-size: 5rem;
}

p {
    line-height: 2.5rem;
    font-size: 1.6rem;
    margin: 1.5rem 0;
}

/* NavBar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    background: rgba(255, 255, 255, 0.64);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    filter: saturate(2);
    border: 1px solid rgba(255, 255, 255, 0.55);
    top: 0rem;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 100px;
}

.nav-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.nav-btn {
    padding: 1rem 1.5rem;
    border: 2px solid #8097ae;
    font-size: 1.7rem;
    margin: 0 .8rem;
    color: #ff3911;
    font-weight: 500;
    position: relative;
    transition: all .4s ease;
}

.nav-btn:hover {
    color: #fff;
}

.nav-btn::after {
    width: 0;
    height: 100%;
    background-color: #85D2EC;
    content: '';
    position: absolute;
    transition: all .3s ease;
    left: 0;
    top: 0;
    z-index: -1;
}

.nav-btn:hover::after {
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    padding: 1rem 1.5rem;
    color: #192027;
    font-size: 1.7rem;
    font-weight: 500;
}

#hero-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Hero */
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(hero.jpg);
    background-position: center;
    background-size: cover;
    z-index: 2;
}

#hero::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: rgb(133, 210, 236);
    background: linear-gradient(0deg, rgba(133, 210, 236, 1) 1%, rgba(133, 210, 236, 0) 100%);
}
.hero{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
}
.hero h2{
    font-size: 4rem;
}
.hero h1{
    font-size: 12rem;  
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 1rem;
}   
.hero h3{
    font-size: 3.5rem;
}
.nav-btns-2{
    display: none;
}
.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 6rem ;
    width: 6rem;
    position: relative;
   cursor: pointer;
   margin-right: 1rem;
   display: none;
}
.hambar{
    position: absolute;
    width: 3.1rem;
    height: .3rem;
    background-color: #192027;
}
.hambar:nth-child(1){
    top: 18px;
}
.hambar:nth-child(3){
    bottom: 18px;
}
/* Features */
#features{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.features-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5rem ;
}
.features-header img{
    width: 100px;
}
.features-header h1{
    color: #304458;
}
.features-header p{
    color: #304458;
}
.features{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1168px;
    flex-wrap: wrap;
}
.features-box{
    margin: 2rem 0rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.features-box i{
    font-size: 2rem;
    width: 50px !important;
    height: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff3911;
    border: 2px solid #ff3911;
    border-radius: 1rem;
}
.features-desc{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction: column;
    margin: 0 2rem;
    width: 467px;
}
.features-desc h3{
    font-size: 1.9rem;
    color: #ff3911;
}
/* Services */
#services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
    height: 400px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
}
.service-box-outer{
    background-image: url(food.jpg);
    background-position: center;
    background-size: cover;
    transition: all .4s ease;
    margin: 2rem 2rem;
}
.service-box-outer:nth-child(2) {
    background-image: url(food2.jpg);
}
.service-box-outer:nth-child(3){
    background-image: url(food3.jpg);
}
.service-box-outer:nth-child(2) .service-box-img{
    background-image: url(food2.jpg);

}
.service-box-outer:nth-child(3) .service-box-img{
    background-image: url(food3.jpg);


}
.service-box-img{
    background-image: url(food.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: all .4s ease
}
.service-box-desc{
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff600a51;
    transition: all .4s ease;
    bottom: -100%;
    color: #fff;
}
.service-box-desc h3{
    font-size: 2rem;
}
.service-box:hover .service-box-desc{
    bottom: -50%;
}
.service-box:hover .service-box-img{
    height: 50%;
}

@media screen and (max-width:1250px) {
    .features-desc {
        width: auto;
    }
    .features-box {
        margin: 2rem 0rem;
        width: 34%;
    }
    .features {
        width: auto;
    }
    .features-header {
        padding: 0 2rem;
    }
}
@media screen and (max-width:1100px) {
    .service-box {
        width: 270px;
    }
}
@media screen and (max-width:1000px) {
    .hamburger{
        display: inherit;
    }
    .nav-btns{
        display: none;
    }
    nav.active ul{
        left: 0;
    }
    .nav-btns-2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        left: 0;
    }
    .nav-btn{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        border: 2px solid #d5ffff;
    }
    nav ul{
        position: fixed;
        top: 8rem;
        flex-direction: column;
        background-color: #f7f2feeb;
        width: 100%;
        left: -100%;
        padding: 5rem 0;
        transition: all .4s ease;
        filter: saturate(1.2);
    }
    nav ul li {
        margin: 1rem 0;
    }
    .nav-btns-2{
        display: flex;
    }
    .features-box {
        width: 45%;
    }
    .services{
        flex-wrap: wrap;
    }
    .service-box-outer {
        width: 100%;
    }
    .service-box{
        width: 320px;
    }
}
@media screen and (max-width:900px) {
    h1{
        font-size: 4.4rem;
    }
    .hero h1 {
        font-size: 9rem;
    }
}
@media screen and (max-width:840px) {
    .hero h1 {
        letter-spacing: .3rem;
    }
    .service-box-outer{
        width: auto;
    }
}
@media screen and (max-width:700px) {
    .hero h1 {
        font-size: 6rem;
    }
    .hero h2 {
        font-size: 3rem;
    }
    .hero h3 {
        font-size: 3rem;
    }
    .features-box {
        width: 90%;
    }
    h1 {
        font-size: 3.4rem;
    }
    .service-box {
        width: 300px;
    }
}
@media screen and (max-width:600px) {
    
}
@media screen and (max-width:500px) {
    
}
@media screen and (max-width:450px) {
    .hero h1 {
        font-size: 4rem;
    }
    .hero h2 {
        font-size: 2rem;
    }
}
@media screen and (max-width:400px) {
    .features-box i {
        width: 40px !important;
        height: 40px !important;
    }
}
@media screen and (max-width:350px) {
    .service-box {
        width: 260px;
    }
}